<p>
  login works!
</p>
<!-- LOGIN FORM -->
<div class="container">
	<div class="row main">
		<div class="main-login main-center">
			<form class="form-horizontal" method="post" action="#">
				
				<div class="form-group">
					<label for="name" class="cols-sm-2 control-label">Your Name</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="name" id="name" [(ngModel)]="name" placeholder="Enter your Name"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Your mobile number</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="mobile" id="mobile" [(ngModel)]="mobile" placeholder="Enter your mobile number"/>
						</div>
					</div>
				</div>

				<div class="form-group ">
					<button type="button" class="btn btn-primary btn-lg btn-block login-button" (click)= "(onClickMe())">Register</button>
				</div>
				<div class="login-register">
					<a href="index.php">Login</a>
				 </div>
			</form>
		</div>
	</div>
</div>